* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
nav {
  padding: 10px;
  background-color: black;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
}
.sign-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center;
}
.sign-box h2 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #3c003c;
  position: relative;
}
.sign-box h2::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.input-field {
  background: #eaeaea;
  margin: 15px, 0;
  padding: 4px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-height: 65px;
  transition: max-height 0, 5s;
  overflow: hidden;
}
input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 13px 15px;
}
.input-field i {
  margin-left: 15px;
  color: #999;
}
form p {
  text-align: left;
  font-size: 13px;
}
form p a {
  text-decoration: none;
  color: #3c003c;
}
.btn-field {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-field button {
  flex-basis: 48%;
  background: #3c003c;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}
.input-box {
  height: 230px;
}
