:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --red: red;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  /* box-sizing: border-box; */
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}

/* Newsletter box */

form {
  width: 60%;
  border: 4px solid #f1f1f1;
  margin-bottom: 10px;
  margin-left: 20%;
}

.container {
  padding: 10px;
  background-color: var(--light-grey);
  font-size: larger;
  text-align: center;
  font: var(--font-headline);
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: large;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 16px;
}

.checkbox-container {
  text-align: left;
  margin-left: 10px;
}

input[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

#subscriptionMessage {
  display: none;
  background-color: var(--primary-color);
  font-size: larger;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  margin-top: 10px;
}

/* end of newsletter box */

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}

.title {
  text-transform: capitalize;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

#cart-count {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--dark-grey);
  top: 5px;
  right: -5px;
  padding: 2px;
  height: 20px;
  width: 20px;
  line-height: 18px;
  border-radius: 60%;
  z-index: 99;
}

.cart-card__quantity,
.quantity {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 10px;
}

.quantity-btn {
  background-color: var(--tertiary-color);
  color: black;
  border: 1px solid var(--dark-grey);
  border-radius: 10%;
  padding: 2px 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 2px;
}

.quantity-btn:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.2);
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.product-card__discount
{
  color: var(--red);
}

.discountPercent{
 position: relative;
 display: inline-block;
}
.color-swatch {
  width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.color-swatch-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.color-swatch p {
  margin-top: 5px;
  text-align: center;
}

.color-swatch.selected {
  border: 2px solid #00f;
}

.circle {
  position: absolute;
  top: -5px; /* Adjust this value to position the circle vertically */
  right: -50px; /* Adjust this value to position the circle horizontally */
  width: 50px; /* Diameter of the circle */
  height: 30px;
  border-radius: 50%; /* Make it a circle */
  background-color: red; /* Color of the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px; /* Adjust font size */
  font-weight: bold;
}

.product-card__price, 
.discountAmount{
font-size: 12px;
}

.discountAmount{
  color:var(--red);
}
.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Product-listing */
.product-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
}

.product-grid > li {
  width: 150px;
  /* border: 1px solid var(--light-grey); */
  padding: 0.5em;
  margin: 1em;
}
.product-grid h2 {
  margin: 0;

  font-size: 1.2em;
}
.product-grid a {
  text-decoration: none;
}
.product-grid a:link,
.product-grid a:visited {
  color: var(--dark-grey);
}
.product-grid a:hover {
  text-decoration: underline;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}
.cart-footer {
  display: none;
}
.cart-footer.has-total {
  display: block;
}
.cart-total {
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
